### Q1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:

#### For Sum

In [44]:
a = 15
b = 4
x = a + b
print ("The sum of a and b is:", x)

The sum is: 19

#### For Difference

In [5]:
a = 15
b = 4
x = a-b
print ("The difference of a and b is:", x)

11

#### For Product

In [6]:
a = 15
b = 4
x  = a*b
print ("The product of a and b is:", x)

60

#### For Division

In [7]:
a = 15
b = 4
x = a/b
print ("The division of a and b is:", x)

3.75

#### For Floor Division

In [45]:
a = 15
b = 4
x = a//b
print ("The floor division of a and b is:", x)

The floor division is: 3

#### For Modulus

In [46]:
a = 15
b = 4
x = a%b
print ("The modulus of a and b is:", x)

The modulus is: 3

### Q2. Check the type and convert: (num1 = 10, num2 = 5.6, num3 = 4.43, num4='23')

#### Integer to float

In [36]:
num1 = 10
print(float(num1))
print(type(float(num1)))

10.0
<class 'float'>

#### Float to integer

In [37]:
num2 = 5.6
print(int(num2))
print(type(int(num2)))

5
<class 'int'>

#### Float to String

In [38]:
num3 = 4.43
print(str(num3))
print(type(str(num3)))

4.43
<class 'str'>

#### String to Integer

In [39]:
num4 = '23'
print(int(num4))
print(type(int(num4)))

23
<class 'int'>

### Q3. Write a code to store your favorite food in a variable and print it.

In [48]:
fav_food = "Tikka Biryani"
print("My favorite food is:", fav_food)

My favorite food is: Tikka Biryani

### Q4. "I have 22 apples and 33 mangoes. How many fruits do I have in total?"

In [42]:
apple = '22'
mangoes = 33
# convert apple into integer
apple = int(apple)
total_fruites = apple + mangoes
print("Total fruites are:", total_fruites)

Total fruites are: 55

### Q5. Store in a varibale: Write Your name , Your age, Add 1 to your age using a variable, Print final age

In [2]:
my_name = "Umair Alam"
my_age = 25
age_after_year = my_age + 1
print("My name is:", my_name)
print("My age is:", my_age)
print("My age after year is:", age_after_year)

My name is: Umair Alam
My age is: 25
My age after year is: 26

### Q6. (a = 2, b = 1, c = 6, d = 3)

In [15]:
a = 2
b = 1
c = 6
d = 3

# Add a and b
m = a + b
print("The addition of a and b is:", m)

# Subtract c and a
n = c - a
print("The subtraction of c and a is:", n)

# Multiply d and b
o = d * b
print("The multiplication of d and b is:", o)

# Divide c and d (float division)
p = c / d
print("The float division of c and d is:", p)

# Find modulus of c divided by d
q = c % d
print("The modulus of c and d is:", q)

# Square of (d+a)
r = d + a 
r = r**2
print("The Square of (d + a) is:", r)

The addition of a and b is: 3
The subtraction of c and a is: 4
The multiplication of d and b is: 3
The float division of c and d is: 2.0
The modulus of c and d is: 0
The Square of (d + a) is: 25

### Q7. (a = '2', b = '11', c = 6.3)

In [6]:
a = '2'
b = '11'
c = 6.3

# Convert a to integer then add to c
a = int(a)
x = a + c
print("Convert a to integer then add to c is:", x)

# Convert b to float then multiply by c
b = float(b)
y = b * c
print("Convert b to float then multiply by c is:", y)

# Convert c to integer then add to c
c = int(c)
z  = c + c
print("Convert c to integer then add to c is:", z)

Convert a to integer then add to c is: 8.3
Convert b to float then multiply by c is: 69.3
Convert c to integer then add to c is: 12

### Q8. You were 20 years old in the year 2020. Now add 5 more years to your age.What is your current age now? Store age in a variable called age. Print final output in same variable

In [31]:
my_age = 20
print("My age in 2020 is:", my_age)
my_age = my_age + 5
print("My current age after 5 years is:", my_age)

My age in 2020 is: 20
My current age after 5 years is: 25

### Q9.You had 12 books, and you gave 4 to your friend.How many books do you have now? Store books in a variable called books. Print final output in same variable

In [3]:
books = 12
print("Total books =", books)
books = books - 4
print("After i lend a four books to my friend = ", books)

Total books = 12
After i lend a four books to my friend =  8

### Q10.You baked 5 cookies. You baked 3 times more cookies today.How many cookies did you bake today? Store cookies in a variable called cookies. Print final output in same variable

In [4]:
cookies = 5
cookies = cookies*3
print("Total cookies baked today =", cookies)

Total cookies baked today = 15